$color:white;
$bginput: grey;
$customfont: Verdana, Geneva, Tahoma, sans-serif;

body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: $customfont;
    
    #root{
        width: 100%;
        color: $color;
    
        .row{
            height: 100vh;
    
            aside{
                border-right: solid white;  
                font-family: $customfont;

                .list{
                    margin-top: 2em;
                }
            }

            main{
                h1{
                    text-align: center;
                }

                .display{
                    width: 80%;
                    text-indent: 8.5em;
                }
                
                .inputfield{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    input{
                        font-family: $customfont;
                        width: 80%;
                        background-color: $bginput;
                        color: $color;
                    }

                    textarea{
                        font-family: $customfont;
                        width: 80%;
                        height: 350px;
                        margin-top: 1em;
                        margin-bottom: 1em;
                        background-color: $bginput;
                        color: $color;
                    }

                    .buttonbox{
                        font-family: $customfont;
                        width: 80%;
                        button{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
